@media screen and (max-width: 480px){
    /* sections lessons */
    .container{
        width: 100%;
    }
    
    .lessons .row{
        flex-direction: column;
        gap: 3rem;
    }

    .lessons .col{
        width: 100%;
    }

    /* section steps */
    


}